# Dependencies
node_modules/
.env
.env.local

# Next.js
frontend/.next/
frontend/out/

# Logs
npm-debug.log*
yarn-debug.log*

# Misc
.DS_Store
*.pem

# Local files not to be pushed to git
problem_statement.docx
problem_statement.txt
project_documentation.md

